/* General Colors */
$color-critical: #c40022;
$color-link: #1e6dc0 !default;
$color-ok: #00a96d;
$color-warning: #ff9d00;

/* Borders */
$color-border-subtle: #ddd !default;
$color-border-highlight: #f5f5f5 !default;

/* Body */
$color-bg-body: #eee !default;
$color-font-body: #333 !default;
$color-font-secondary: #707277 !default;
$color-font-error: #A60000 !default;
$color-font-inactive: #999;
$color-font-subtle: #666 !default;

/* Footer */
$color-bg-footer: #f5f5f7 !default;
$height-footer: 40px;
$margin-footer: 10px;

/* Buttons */
$color-bg-secondary-btn: #ccc !default;
$color-bg-secondary-btn-active: #aaa !default;

/* Disabled buttons */
$color-bg-btn-disabled: #efefef !default;
$color-border-btn-disabled: #ccc !default;
$color-font-btn-disabled: #999 !default;

 /* Responsive Dimensions*/
$dim-device-width-small: 768px;
$dim-device-width-medium: 992px;
$dim-device-width-large: 1200px;



